# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# LaTeX build artifacts
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.toc
manuscript/*.fls
manuscript/*.fdb_latexmk
manuscript/*.synctex.gz

# Node / Bundler
node_modules/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/
